<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sign.css" class="">
</head>
<body>
 
{{>header1}}


<form action="/login" method="POST">

<input type="text"  placeholder="Username" name="user"  >

<input type="password"  placeholder="Password" name="pass"  >

<button type="submit">Signin</button>
{{#if msg}}
<p class="msg" >{{msg}}</p>
{{/if}}

</form>




</body>
</html>