<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sign.css" class="">
</head>
<body>
 
{{>header}}


<form action="/sead" method="POST">

<input type="number"  placeholder="PID" name="pid"  >
<h4>or</h4>
<input type="number"  placeholder="ROLLNO" name="rollno"  >
<h4>or</h4>
<input type="number"  placeholder="TID" name="tid"  >

<button type="submit">Search</button>

</form>





</body>
</html>