<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sign.css" class="">
</head>
<body>
   
   {{>header}}
<form action="/sign" method="POST">
<div class="upp">
 <div class="neww" >
<input class="inp1" type="text" name="namee" required placeholder="Full Name" >

<input class="inp1" type="number" name="rollno" required placeholder="RollNo" >

<input class="inp1 cole" list="brow1" type="text" onchange="fun()" name="college"  placeholder="College" required >
<datalist id="brow1">
   <option value="SRMSCET BLY">
    <option value="SRMSCET&R BLY"></option>

   
</datalist>
<input class="inp1" type="text" name="course"  placeholder="Course" required >

<input class="inp1" type="text" name="branch"  placeholder="Branch" >
</div>
<div class="neww2" >
<input class="inp1" list="brow" placeholder="Event 1" name="event1"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  
<input class="inp1" list="brow" placeholder="Event 2" name="event2"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 3" name="event3"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 4" name="event4"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 5" name="event5"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

</div>
</div>
<div>
    </div>
<button type="submit">Add+ </button>
</div>
{{#if msg}}
<p class="msg" >{{msg}}</p>
{{/if}}
</form>

<script>


function fun(){
console.log('Change')


const inp=document.querySelector(".cole").value
const div=document.querySelector(".neww2")

if(inp=="SRMSCET BLY"){
div.innerHTML=
` <input class="inp1" list="brow" placeholder="Event 1" name="event1"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  
<input class="inp1" list="brow" placeholder="Event 2" name="event2"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 3" name="event3"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 4" name="event4"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 5" name="event5"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  


<input class="inp1" list="brow" placeholder="Event 6" name="event6"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>


<input class="inp1" list="brow" placeholder="Event 7" name="event7"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>

`
}
else{
div.innerHTML=`

<input class="inp1" list="brow" placeholder="Event 1" name="event1"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  
<input class="inp1" list="brow" placeholder="Event 2" name="event2"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 3" name="event3"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 4" name="event4"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  

<input class="inp1" list="brow" placeholder="Event 5" name="event5"  >
<datalist id="brow">
   <option value="Code war">

  <option value="Design the web">
  <option value="Bug war">
    <option value="E treasure hunt"></option>
    <option value="C expert"></option>
    <option value="Blind coding"></option>
    <option value="Junk wars"></option>
    


  
    <option value=""></option>


<option value="Shabd e shayrana"></option>
 
    <option value="Cad tricks"></option>
   
    <option value="Jam just a minute"></option>
   
   
            <option value="Pharmadesk"></option>
            
                    
                        <option value="Mandala art competition"></option>
                           
                                    
                                        <option value="Doodle art"></option>
                                            <option value="Technical painting"></option>
                                                <option value="Quill the techvyom"></option>
    <option value="Digital poster making"></option>    <option value="Screen masters"></option>
        <option value="Pursue the market"></option>
            <option value="Battle of memes"></option>
               
                        <option value="Tech gallery"></option>
                            <option value="Plc designing"></option>
                                <option value="Technical quiz"></option>
                                    <option value="Round the cube"></option>

</datalist>  `
}


}


</script>



</body>
</html>