<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css" class="">
</head>
<body>
    
     <nav class="bar inc">
        <div class="right ">TechVyom Registration</div>

        <div class="left ll">
   
    <a class="link" href="/signedingowiqbfjsnvvnrbvjsnfpd" class="">PID</a>
        <a class="link" href="/gr" class="">TID</a>
          <a class="link" href="/event" class="">Individual Event PID</a>
 
     <a class="link" href="/grpse" class="">Grp event TID</a>
     
 <a class="link" href="/prepid" class="">Pre Registered</a>
           <a class="link" href="/sea" class="">Search</a>
           
        </div>
      </nav>


</body>
</html>